In [2]:
import pandas as pd
import numpy as np
import gzip
import json

In [55]:
steam = pd.read_csv('./Data\Data-Limpia\steam_games_limpio.csv')

In [56]:
steam

,app_name,genres,año,id
0,Lost summoner kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",2018,761140.0
1,Ironbound,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",2018,643980.0
2,Real pool 3d - poolians,"['Free to Play', 'Simulation', 'Sports', 'Casu...",2017,670290.0
3,弹炸人2222,"['Action', 'Adventure', 'Casual']",2017,767400.0
4,Log challenge,"['Action', 'Indie', 'Casual', 'Sports']",2016,773570.0
...,...,...,...,...
31326,Colony on mars,"['Strategy', 'Indie', 'Casual', 'Simulation']",2018,773640.0
31327,Logistical: south africa,"['Strategy', 'Indie', 'Casual']",2018,733530.0
31328,Russian roads,"['Indie', 'Simulation', 'Racing']",2018,610660.0
31329,Exit 2 - directions,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",2017,658870.0
31330,Maze run vr,"['Early Access', 'Adventure', 'Indie', 'Action...",2016,681550.0

In [57]:
items = pd.read_csv('./Data/Data-Limpia/user_items_limpio.csv')

In [58]:
items

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,300.0,Day of defeat: source,78.883333
1,76561197970982479,240.0,Counter-strike: source,30.883333
2,76561197970982479,3830.0,Psychonauts,5.550000
3,76561197970982479,2630.0,Call of duty 2,1.250000
4,76561197970982479,3900.0,Sid meier's civilization iv,5.633333
...,...,...,...,...
2300864,76561198320038728,442080.0,Riders of icarus,2.550000
2300865,76561198320136420,273350.0,Evolve stage 2,1.716667
2300866,ArkPlays7,730.0,Counter-strike: global offensive,75.950000
2300867,ArkPlays7,346110.0,Ark: survival evolved,10.383333
2300868,76561198329548331,304930.0,Unturned,11.283333

Se realiza un merge entre los DF de items y steam

In [59]:
Funciones1 = pd.merge(items, steam, left_on='item_name', right_on='app_name', how='inner')

In [60]:
Funciones1

,user_id,item_id,item_name,playtime_forever,app_name,genres,año,id
0,76561197970982479,300.0,Day of defeat: source,78.883333,Day of defeat: source,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010,300.0
1,js41637,300.0,Day of defeat: source,3.666667,Day of defeat: source,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010,300.0
2,Riot-Punch,300.0,Day of defeat: source,1.116667,Day of defeat: source,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010,300.0
3,doctr,300.0,Day of defeat: source,18.850000,Day of defeat: source,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010,300.0
4,maplemage,300.0,Day of defeat: source,5.583333,Day of defeat: source,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010,300.0
...,...,...,...,...,...,...,...,...
1580948,76561198101480347,335050.0,World of leaders,40.616667,World of leaders,"['Simulation', 'Massively Multiplayer', 'MMORPG']",2014,335050.0
1580949,76561198101480347,336700.0,Elastrix,1240.550000,Elastrix,"['Casual', 'Indie', 'Puzzle', 'Physics']",2014,336700.0
1580950,76561198107283457,354280.0,Chaostower,2.733333,Chaostower,"['Indie', 'Casual', 'Action', 'Simulation']",2016,354280.0
1580951,inven,405960.0,Sunken,4.183333,Sunken,"['Action', 'Indie', 'RPG', 'Crafting', 'Rogue-...",2015,405960.0
1580952,cyeclopese5102,378480.0,Badland bandits,1.266667,Badland bandits,"['Early Access', 'Racing', 'Massively Multipla...",2015,378480.0

Se eliminan las columnas que no se van a utilizar

In [61]:
Funciones1 = Funciones1.drop(columns=['item_id', 'item_name', 'user_id', 'app_name', 'id'], axis=1)

La columna 'playtime_forever' se pasa dato de tipo entero

In [62]:
Funciones1['playtime_forever'] = Funciones1['playtime_forever'].astype(int)

In [63]:
Funciones1

,playtime_forever,genres,año
0,78,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010
1,3,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010
2,1,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010
3,18,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010
4,5,"['FPS', 'World War II', 'Multiplayer', 'Action...",2010
...,...,...,...
1580948,40,"['Simulation', 'Massively Multiplayer', 'MMORPG']",2014
1580949,1240,"['Casual', 'Indie', 'Puzzle', 'Physics']",2014
1580950,2,"['Indie', 'Casual', 'Action', 'Simulation']",2016
1580951,4,"['Action', 'Indie', 'RPG', 'Crafting', 'Rogue-...",2015
1580952,1,"['Early Access', 'Racing', 'Massively Multipla...",2015

In [64]:
with gzip.open('./Data/Data-Funciones/Funciones1.csv.gz', 'wb') as f:
    Funciones1.to_csv(f, index=False, encoding='utf-8')

In [ ]:
agrupado = pd.read_csv('./Data/Data-Funciones/Funciones1.csv.gz', compression='gzip')

Se agrupa y suma las horas de juego ('playtime_forever') para cada combinación única de año y género en el DataFrame

In [ ]:
agrupado = agrupado.groupby(['año', 'genres'])['playtime_forever'].sum().reset_index()
agrupado

In [ ]:
with gzip.open('./Data/Data-Funciones/agrupado.csv.gz', 'wb') as f:
    agrupado.to_csv(f, index=False, encoding='utf-8')

Def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [66]:
def PlayTimeGenre(genero):
    df = pd.read_csv('./Data/Data-Funciones/agrupado.csv.gz', compression='gzip')
    
    # Se filtra el DataFrame para el género específico
    df_genero = df[df['genres'].str.contains(genero, case=False, na=False)]

    # Se agrupa por año y calcula las horas jugadas
    horas_por_año = df_genero.groupby('año')['playtime_forever'].sum()
    # Se encuentra el año con más horas jugadas
    año_max_horas = horas_por_año.idxmax()

    # Se crea el diccionario de retorno
    resultado = {"Año de lanzamiento con más horas jugadas para {}: {}".format(genero, año_max_horas)}

    return resultado

In [67]:
PlayTimeGenre('Action')

{'Año de lanzamiento con más horas jugadas para Action: 2012'}

Def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [68]:
steam1 = pd.read_csv('./Data\Data-Limpia\steam_games_limpio.csv')

items = pd.read_csv('./Data/Data-Limpia/user_items_limpio.csv')

steam1 = steam1[['genres','id','año']]
items = items[['user_id','item_id','playtime_forever']]

Se agrupa el DF steam1 por Id, se guarda en la columna año los datos que sean mayores a 0 y luego se realiza un merge con 
el DF items

In [69]:
steam1 = steam1.groupby('id').first().reset_index()

steam1 = steam1[steam1['año']!=0]

resultado = steam1.merge(items, left_on='id', right_on='item_id', how='inner')

In [70]:
resultado

,id,genres,año,user_id,item_id,playtime_forever
0,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,doctr,10.0,1.550000
1,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,corrupted_soul,10.0,1.800000
2,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,WeiEDKrSat,10.0,5.466667
3,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,death-hunter,10.0,104.583333
4,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,Fr0stedLine,10.0,9.666667
...,...,...,...,...,...,...
2022223,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,2spookis,527340.0,1.266667
2022224,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,76561198068423082,527340.0,1.966667
2022225,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,jandango,527340.0,1.100000
2022226,527510.0,"['Casual', 'Simulation', 'Indie', 'Strategy']",2016,mayshowganmore,527510.0,2.566667
2022227,528660.0,"['Indie', 'Casual', 'Action', 'Puzzle']",2016,SirexPower,528660.0,3.033333

Se convierte el tipo de dato de la columna 'playtime_forever' a entero

In [71]:
resultado['playtime_forever'] = resultado['playtime_forever'].astype(int)

In [72]:
resultado

,id,genres,año,user_id,item_id,playtime_forever
0,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,doctr,10.0,1
1,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,corrupted_soul,10.0,1
2,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,WeiEDKrSat,10.0,5
3,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,death-hunter,10.0,104
4,10.0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,Fr0stedLine,10.0,9
...,...,...,...,...,...,...
2022223,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,2spookis,527340.0,1
2022224,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,76561198068423082,527340.0,1
2022225,527340.0,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,jandango,527340.0,1
2022226,527510.0,"['Casual', 'Simulation', 'Indie', 'Strategy']",2016,mayshowganmore,527510.0,2
2022227,528660.0,"['Indie', 'Casual', 'Action', 'Puzzle']",2016,SirexPower,528660.0,3

Se eliminan las columnas que no se van a utilizar

In [73]:
resultado=resultado.drop(['id','item_id'],axis=1)

In [74]:
resultado

,genres,año,user_id,playtime_forever
0,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,doctr,1
1,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,corrupted_soul,1
2,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,WeiEDKrSat,5
3,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,death-hunter,104
4,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",2000,Fr0stedLine,9
...,...,...,...,...
2022223,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,2spookis,1
2022224,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,76561198068423082,1
2022225,"['Action', 'Indie', 'Multiplayer', 'Funny', 'A...",2016,jandango,1
2022226,"['Casual', 'Simulation', 'Indie', 'Strategy']",2016,mayshowganmore,2
2022227,"['Indie', 'Casual', 'Action', 'Puzzle']",2016,SirexPower,3

In [75]:
with gzip.open('./Data/Data-Funciones/F_user_genre.csv.gz', 'wb') as f:
    resultado.to_csv(f, index=False, encoding='utf-8')

In [78]:
def UserForGenre2(genero):
    # Filtrar el DataFrame por el género dado
    
    df = pd.read_csv('./Data/Data-Funciones/F_user_genre.csv.gz', compression='gzip')

    df_genero = df[df['genres'].str.contains(genero)] 
    #Agrupo por usuario y sumo cantidad de horas jugadas
    df_horas = df_genero.groupby('user_id')['playtime_forever'].sum().reset_index()


    # Encontrar el usuario con más horas jugadas para ese género
    usuario_max_playtime = df_horas.loc[df_horas['playtime_forever'].idxmax()]['user_id']


    # Filtrar el DataFrame por el usuario con más horas jugadas en ese género
    df_usuario_max = df_genero[df_genero['user_id'] == usuario_max_playtime]
    df_horas_anio = df_usuario_max.groupby('año')['playtime_forever'].sum().reset_index()

    #horas_anio = [{'Año': row['año'], 'Horas': row['playtime_forever']} for _, row in df_horas_anio.iterrows()]
    horas_anio = [{'Año': str(row['año']), 'Horas': str(row['playtime_forever'])} for _, row in df_horas_anio.iterrows()]
    salida = {'Usuario con más horas jugadas para ' + 'Action': usuario_max_playtime, 'Horas jugadas': horas_anio}
    return salida

In [79]:
UserForGenre2('Action')

{'Usuario con más horas jugadas para Action': 'Sp3ctre',
 'Horas jugadas': [{'Año': '1995', 'Horas': '3'},
  {'Año': '1997', 'Horas': '4'},
  {'Año': '2000', 'Horas': '1177'},
  {'Año': '2001', 'Horas': '3'},
  {'Año': '2002', 'Horas': '3'},
  {'Año': '2003', 'Horas': '128'},
  {'Año': '2004', 'Horas': '2122'},
  {'Año': '2005', 'Horas': '355'},
  {'Año': '2006', 'Horas': '1502'},
  {'Año': '2007', 'Horas': '1878'},
  {'Año': '2008', 'Horas': '141'},
  {'Año': '2009', 'Horas': '1810'},
  {'Año': '2010', 'Horas': '1374'},
  {'Año': '2011', 'Horas': '2582'},
  {'Año': '2012', 'Horas': '6389'},
  {'Año': '2013', 'Horas': '2024'},
  {'Año': '2014', 'Horas': '2199'},
  {'Año': '2015', 'Horas': '6477'},
  {'Año': '2016', 'Horas': '1988'},
  {'Año': '2017', 'Horas': '720'}]}

In [16]:
reviews = pd.read_csv('./Data/Data-Limpia/user_reviews_limpio.csv')

Se realiza merge de los DF reviews y steam

In [17]:
Funciones2 = pd.merge(reviews, steam, left_on='item_id', right_on='id', how='inner')

In [18]:
Funciones2

,user_id,item_id,recommend,sentiment_analysis,app_name,genres,año,id
0,76561197970982479,1250.0,True,2,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009,1250.0
1,death-hunter,1250.0,True,2,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009,1250.0
2,DJKamBer,1250.0,True,0,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009,1250.0
3,diego9031,1250.0,True,1,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009,1250.0
4,76561198081962345,1250.0,True,1,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009,1250.0
...,...,...,...,...,...,...,...,...
53046,llDracuwulf,307130.0,True,1,Asteria,"['Indie', 'Adventure', 'Action', 'Platformer',...",2014,307130.0
53047,ChrisCoroner,209120.0,True,2,Street fighter x tekken,"['Fighting', 'Action', 'Arcade', '2D Fighter',...",2012,209120.0
53048,MeloncraftLP,220090.0,True,1,The journey down: chapter one,"['Adventure', 'Point & Click', 'Indie', 'Comed...",2013,220090.0
53049,MeloncraftLP,262850.0,True,1,The journey down: chapter two,"['Adventure', 'Indie', 'Point & Click', 'Great...",2014,262850.0
53050,vinquility,431510.0,True,2,Mystic destinies: serendipity of aeons,"['Visual Novel', 'Otome', 'Female Protagonist'...",2016,431510.0

Se eliminan las columnas que no se van a utilizar

In [19]:
Funciones2 = Funciones2.drop(columns=['item_id', 'id'], axis=1)

In [20]:
Funciones2

,user_id,recommend,sentiment_analysis,app_name,genres,año
0,76561197970982479,True,2,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009
1,death-hunter,True,2,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009
2,DJKamBer,True,0,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009
3,diego9031,True,1,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009
4,76561198081962345,True,1,Killing floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",2009
...,...,...,...,...,...,...
53046,llDracuwulf,True,1,Asteria,"['Indie', 'Adventure', 'Action', 'Platformer',...",2014
53047,ChrisCoroner,True,2,Street fighter x tekken,"['Fighting', 'Action', 'Arcade', '2D Fighter',...",2012
53048,MeloncraftLP,True,1,The journey down: chapter one,"['Adventure', 'Point & Click', 'Indie', 'Comed...",2013
53049,MeloncraftLP,True,1,The journey down: chapter two,"['Adventure', 'Indie', 'Point & Click', 'Great...",2014
53050,vinquility,True,2,Mystic destinies: serendipity of aeons,"['Visual Novel', 'Otome', 'Female Protagonist'...",2016

In [21]:
with gzip.open('./Data/Data-Funciones/Funciones2.csv.gz', 'wb') as f:
    Funciones2.to_csv(f, index=False, encoding='utf-8')

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [31]:
def UsersRecommend(year: int):
    df = pd.read_csv('./Data/Data-Funciones/Funciones2.csv.gz', compression='gzip')    

    #Se filtra las filas del DataFrame donde la columna 'año' es igual a year, la columna 'recommend' es True y la columna 'sentiment_analysis' tiene valores 1 o 2. 
    df_filtrado = df['app_name'][(df['año'] == year) & (df['recommend'] == True) & (df['sentiment_analysis'].isin([1, 2]))].value_counts().reset_index().head(3)
    resultado = [{"Puesto {}:{}".format(i + 1, row['app_name'])} for i, row in df_filtrado.iterrows()]
    return resultado

In [32]:
UsersRecommend(2010)

[{'Puesto 1': "Sid meier's civilization® v"},
 {'Puesto 2': 'Mount & blade: warband'},
 {'Puesto 3': 'Fallout: new vegas'}]

def UsersNotRecommend( año : int ): Devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [148]:
def UsersNotRecommend(year: int):
    df = pd.read_csv('./Data/Data-Funciones/Funciones2.csv.gz', compression='gzip')    

    #Se filtra las filas del DataFrame donde la columna 'año' es igual a year, la columna 'recommend' es False y la columna 'sentiment_analysis' con valor 0
    df_filtrado = df['app_name'][(df['año'] == year) & (df['recommend'] == False) & (df['sentiment_analysis']==0)].value_counts().reset_index().head(3)
    resultado = [{"Puesto {}:{}".format(i + 1, row['app_name'])} for i, row in df_filtrado.iterrows()]
    return resultado

In [149]:
UsersNotRecommend(2017)

[{'Puesto 1': 'Unturned'},
 {'Puesto 2': 'Robocraft'},
 {'Puesto 3': 'Ark: survival evolved'}]

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.
Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}

In [170]:
def sentiment_analysis1(año: int):
    df = pd.read_csv('./Data/Data-Funciones/Funciones2.csv.gz', compression='gzip')
    # Filtrar el DataFrame para el año dado
    df_filtrado = df[df['año'] == año]
    #Cuenta los comentarios positivos
    Positivos = df_filtrado[df_filtrado['sentiment_analysis']==2]['sentiment_analysis'].count()
    # Cuenta los comentarios negativos
    Negativos = df_filtrado[df_filtrado['sentiment_analysis']==0]['sentiment_analysis'].count()
    # Cuenta los comentarios neutrales
    Neutrales = df_filtrado[df_filtrado['sentiment_analysis']==1]['sentiment_analysis'].count()
    # Devolver conteos en un diccionario

    return {
        'Negative': str(int(Negativos)),
        'Positive': str(int(Positivos)),
        'Neutral':str(int(Neutrales))
    }

In [171]:
sentiment_analysis1(2014)

{'Negative': '625', 'Positive': '3128', 'Neutral': '2639'}